<mat-card class="question-card" [formGroup]="form">
  <label id="example-radio-group-label">{{answer.questionTitle}}</label>
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    formControlName="answer"
  >
    <mat-radio-button class="example-radio-button" *ngFor="let answer of answer.answers" [value]="answer.value" disabled>
      {{answer.title}}
    </mat-radio-button>
  </mat-radio-group>
  <button mat-raised-button color="primary" (click)="submit()">Return back</button>
</mat-card>
