<mat-card class="question-card" [formGroup]="form">
  <label id="example-radio-group-label">{{question.questionTitle}}</label>
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    formControlName="answer"
  >
    <mat-radio-button class="example-radio-button" *ngFor="let answer of question.answers" [value]="answer.value">
      {{answer.title}}
    </mat-radio-button>
  </mat-radio-group>
  <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="submit()">Answers</button>
</mat-card>
